/* src/layouts/MainLayout/MainLayout.css */
.main-layout {
  display: flex;
  flex-direction: column; /* Xếp theo chiều dọc: Navbar trên, body dưới */
  height: 100vh;
  overflow: hidden;
}

.layout-body {
  
  display: flex; /* Xếp theo chiều ngang: Sidebar trái, Content phải */
  flex: 1;
  overflow: hidden; /* Để content bên trong tự cuộn */
}

.main-content {
  margin-top: 10px;
  margin-right: 10px;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  flex: 1;
  gap: 20px;
  overflow-y: auto;
  padding:  10px 20px 20px 20px;
}