/* Style cho nút Ẩn (khi banner đang Active) */
.x-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
}
.btn-toggle-hide {
    background-color: #ffffff;
    color: #333333b1;
    border: 1px solid #333333b1;
    transition: all 0.2s ease-in-out;
}

.btn-toggle-hide:hover {
    background-color: #e1e1e1;
}

/* Style cho nút Hiện (khi banner đang Inactive) */
.btn-toggle-show {
    background-color: #ffffff;
    color: #333333b1;
    border: 1px solid #333333b1;
    transition: all 0.2s ease-in-out;
}

.btn-toggle-show:hover {
    background-color: #e1e1e1;
}